body {
    background-color: #343541;
    color: #ffffff;
    font-size: 1rem;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#alert-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: 999;
    padding: 1em;
}

.alert-error {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}

.alert-success {
    background-color: #00ff00;
    color: #fff;
    text-align: center;
}


#chat-history {
    overflow-y: scroll;
    padding-bottom: 60px;
}

#chat-input {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}

#chat-textarea {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #40414f;
    border-radius: 5px;
    padding: 10px;
}

#chat-send-button {
    width: 25px;
    height: 50px;
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 25px;
}

#upload-kb-button {
    width: 25px;
    height: 50px;
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 25px;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message-text {
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
}

.irrelevant .chat-message-text {
    background: #444654;
    font-weight: lighter;
    font-size: smaller;
}

.relevant .chat-message-text {
    background: #19c37d;
    font-weight: bold;
}

.chat-message-feedback-button {
    width: 25px;
    height: 40px;
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: small;
}

.chat-message span.score {
    display: block;
    text-align: right;
    font-size: x-small;
    font-style: italic;
}


